.gptSection {
    background-color: #15381bc9;
    color: white;
    padding: 30px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 1.2rem;
    width: 404.742px;
    height: 691.047px;
    position: relative;
    overflow: hidden;
    animation: slideIn 0.5s ease forwards;
}

.gptTitle {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 32px;
    font-weight: 600;
    height: 37px;
    margin-block-end: 16px;
    margin-block-start: 5px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 5px;
    text-align: center;
    width: 404.727px;
    animation: heartbeat 33s ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.chatHistory {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.091);
    border-radius: 10px;
    padding: 15px;
    height: 500px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.userMessage, .botMessage {
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 75%;
}

.userMessage {
    align-self: flex-end;
    background-color: #6c3333;
}

.botMessage {
    align-self: flex-start;
    background-color: #224126;
}

.chatForm {
    display: flex;
    gap: 10px;
}

.chatInput {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    outline: none;
}

.sendButton {
    background-color: #224126;;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.sendButton:hover {
    background-color: #6c3333;
}

.chatHistory::-webkit-scrollbar {
    width: 5px;
}

.chatHistory::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .chatHistory {
        max-height: 200px;
    }

    .userMessage, .botMessage {
        max-width: 90%;
    }

    .mainContent {
        flex-direction: column;
    }

    .causeSection, .gptSection {
        width: 90%;
        height: auto;
    }
}